<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compress Your Files With Thanos.js</title>
    <link rel="icon" href="/img/infinity-gauntlet-favicon.png" type="image/x-icon">
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <button type="submit">Compress</button>
    </form>
</body>
</html>